/* --------------------------------------------------------------
 * = 提示信息
 * ----------------------------------------------------------- */

@animationDurationTime: 0.5s;
@animationDelayTime: 0s;
@animationFillMode: both;
@animationLessLocation: '../../../bower_components/animate.less/source';

@import "@{animationLessLocation}/animated.less";

@import "@{animationLessLocation}/fadeIn.less";
@import "@{animationLessLocation}/fadeInLeft.less";
@import "@{animationLessLocation}/fadeInRight.less";
@import "@{animationLessLocation}/fadeInUP.less";
@import "@{animationLessLocation}/fadeInDown.less";
@import "@{animationLessLocation}/fadeOut.less";
@import "@{animationLessLocation}/fadeOutLeft.less";
@import "@{animationLessLocation}/fadeOutRight.less";
@import "@{animationLessLocation}/fadeOutUP.less";
@import "@{animationLessLocation}/fadeOutDown.less";

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  0% {
    margin-top: -3px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}