/* --------------------------------------------------------------
 * = 按钮组
 * ----------------------------------------------------------- */
.pure-button-group {
    &:extend(.pure-g);

    .pure-button {
        &:extend(.pure-u);

        &:first-child:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
            margin-left: -1px;
        }
        &:last-child:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
        }
        &:hover,
        &:focus {
            z-index: 99;
        }
    }
}