/* --------------------------------------------------------------
 * = 扩展 BootStrap Panel
 * ----------------------------------------------------------- */

.media{
  & + .ui-list{
    margin-top: 10px;
  }
}

.media-body{
  line-height: 1.5;
}

.media{
  .media-left{
    .wp-post-image{
      display: block;
      max-width: initial;
    }
  }
}