/* --------------------------------------------------------------
 * = 扩展 Media
 * ----------------------------------------------------------- */

.media {
  & + .ui-list {
    margin-top: 10px;
  }
}

.media-body {
  line-height: 1.7;
  font-weight: 300;
}

.media-meta {
  margin-bottom: @padding-xs-horizontal;
  .text-muted;
}

// 适配 WordPress
.media {
  .media-left {
    .wp-post-image {
      display: block;
      max-width: initial;
    }
  }
}

.media-action{
  display: table-cell;
  vertical-align: middle;
}

// 响应式的 media
.media-responsive {
  @media screen and (max-width: @screen-xs-max) {
    text-align: center;
    .media-left {
      display: block;
      padding-right: 0;
      margin-bottom: @padding-large-vertical;
    }

    .media-right {
      display: block;
      padding-left: 0;
      margin-top: 10px;
    }

    .media-object {
      display: inline-block;
    }

    .media-body {
      display: block;
      width: auto;
    }
  }
}

// 图像在顶部
.media-top {
  display: block;
  margin-bottom: @padding-large-vertical;;
  & + .media-body {
    display: block;
    width: auto;
  }
  .media-object {
    display: inline-block;
  }
}