/* --------------------------------------------------------------
 * = 扩展 BootStrap Navbar
 * ----------------------------------------------------------- */

.dropdownhover-bottom {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.dropdownhover-left {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.dropdownhover-right {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}


@navbar-default-bg: #f30;
@navbar-default-border: #f00;
@navbar-default-brand-color: #ff0;
@navbar-default-brand-hover-color: #f90;
@navbar-default-brand-hover-bg: #f30;

@navbar-default-color: #fff;
@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: #000;
@navbar-default-link-hover-bg: #fff;

@navbar-default-link-active-color: #000;
@navbar-default-link-active-bg: #fff;

@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: #aaa;

@navbar-default-toggle-border-color: #fff;
@navbar-default-toggle-hover-bg: #000;
@navbar-default-toggle-icon-bar-bg: #fff;

// Default navbar
.navbar-theme {
  background-color: @navbar-default-bg;
  border-color: @navbar-default-border;

  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: @navbar-default-link-color;

      &:hover,
      &:focus {
        color: @navbar-default-link-hover-color;
        background-color: @navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: @navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: @navbar-default-link-color;
    &:hover,
    &:focus {
      color: @navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
      }
    }
  }
}


.navbar {
  min-height: 64px;
  border: 0;
}

.navbar-brand {
  float: left;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 40px;
  height: 64px;
}

.navbar-toggle {
  padding: 9px 10px;
  margin-top: 15px;
  margin-bottom: 15px;

}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-nav {
  margin: 6px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }

  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .navbar-nav > li:before,
  .navbar-nav > li:after {
    content: " ";
    display: block;
    height: 0;
    width: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .navbar-nav > li + li {
    margin-left: 12px;
  }

  .navbar-nav > li > a {
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }

  .navbar-nav > .open:before,
  .navbar-nav > .open:after {
    bottom: -1px;
    left: 50%;
    opacity: 1;
    position: absolute;
    z-index: 1002;
  }

  .navbar-nav > .open:before {
    border: 10px solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
    border-top-width: 0;
    margin-left: -9px;
  }

  .navbar-nav > .open:after {
    border: 9px solid;
    border-top-width: 0;
    border-color: #fafafa transparent;
    margin-left: -8px;
    margin-top: 2px;
  }

  .navbar-fixed-bottom .navbar-nav > .open:before,
  .navbar-fixed-bottom .navbar-nav > .open:after {
    bottom: auto;
    top: -1px;

  }

  .navbar-fixed-bottom .navbar-nav > .open:before {
    border-bottom-width: 0;
    border-top-width: 10px;
  }

  .navbar-fixed-bottom .navbar-nav > .open:after {
    border-bottom-width: 0;
    border-top-width: 9px;
    margin-top: -2px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-btn.btn-sm {
  margin-top: 17px;
  margin-bottom: 17px;
}

.navbar-btn.btn-xs {
  margin-top: 21px;
  margin-bottom: 21px;
}

.navbar-text {
  margin-top: 22px;
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }

  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.navbar-material-blue {
  background-color: #03a9f4;
  border-color: #0392d3;
}

.navbar-material-blue .navbar-brand {
  color: #fff;
}

.navbar-material-blue .navbar-brand:hover,
.navbar-material-blue .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-material-blue .navbar-text {
  color: #fff;
}

.navbar-material-blue .navbar-nav > li > a {
  color: #fff;
}

.navbar-material-blue .navbar-nav > li > a:hover,
.navbar-material-blue .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-material-blue .navbar-nav > .active > a,
.navbar-material-blue .navbar-nav > .active > a:hover,
.navbar-material-blue .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0288d1;
}

.navbar-material-blue .navbar-nav > .disabled > a,
.navbar-material-blue .navbar-nav > .disabled > a:hover,
.navbar-material-blue .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-material-blue .navbar-toggle {
  border-color: transparent;
}

.navbar-material-blue .navbar-toggle:hover,
.navbar-material-blue .navbar-toggle:focus {
  background-color: #0288d1;
}

.navbar-material-blue .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-material-blue .navbar-collapse,
.navbar-material-blue .navbar-form {
  border-color: #0392d3;
}

.navbar-material-blue .navbar-nav > .open > a,
.navbar-material-blue .navbar-nav > .open > a:hover,
.navbar-material-blue .navbar-nav > .open > a:focus {
  background-color: #0288d1;
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-material-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  .navbar-material-blue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-material-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }

  .navbar-material-blue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-material-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-material-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #0288d1;
  }

  .navbar-material-blue .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-material-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-material-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-material-blue .navbar-link {
  color: #fff;
}

.navbar-material-blue .navbar-link:hover {
  color: #fff;
}

.navbar-material-blue .btn-link {
  color: #fff;
}

.navbar-material-blue .btn-link:hover,
.navbar-material-blue .btn-link:focus {
  color: #fff;
}

.navbar-material-blue .btn-link[disabled]:hover,
fieldset[disabled] .navbar-material-blue .btn-link:hover,
.navbar-material-blue .btn-link[disabled]:focus,
fieldset[disabled] .navbar-material-blue .btn-link:focus {
  color: #ccc;
}