/* --------------------------------------------------------------
 * = 扩展 BootStrap Panel
 * ----------------------------------------------------------- */

.panel-heading {
  .panel-title {
    display: inline-block;
  }
}

.panel-text,
.panel-more {
  font-size: @font-size-small;
  color: @text-muted;
  margin-top: 2px;
}

.panel-text {
  margin-left: @padding-large-vertical;
}

.panel-more {
  float: right;
}

.panel-meta {
  margin-bottom: @padding-large-vertical;
  .text-muted;
}

.panel-image {
  img {
    .img-responsive()
  }
}

.panel-noborder {
  border: 0;
  box-shadow: none !important;
  & > .panel-heading {
    background-color: transparent;
    background-image: none !important;
    padding: @padding-small-vertical 0;
  }
  & > .panel-body {
    padding: @panel-body-padding 0;
  }
}