/* --------------------------------------------------------------
 * = 扩展 BootStrap Panel
 * ----------------------------------------------------------- */

.panel-title {
  display: inline-block;
  .text,
  .more {
    font-size: @font-size-small;
    color: @text-muted;
    margin-top: 2px;
  }
  .more {
    float: right;
  }
}