/* --------------------------------------------------------------
 * = 扩展 BootStrap Panel
 * ----------------------------------------------------------- */

.panel-heading{
  .panel-title {
    display: inline-block;
  }
}

.panel-text,
.panel-more {
  font-size: @font-size-small;
  color: @text-muted;
  margin-top: 2px;
}

.panel-more {
  float: right;
}
