/* --------------------------------------------------------------
 * = Toggles
 * ----------------------------------------------------------- */

.panel-group {
    .panel {
        + .panel {
            margin-top: -1px;
            border-radius: 0;
        }
        &:last-child{
            border-radius: 4px;
        }
    }
}

.panel-group {
    .panel-heading {
        padding: 0;
    }
    .panel-title {
        display: block;
        a {
            display: block;
            padding: 10px 15px;
        }
    }
}
