/* --------------------------------------------------------------
 * = 全局颜色
 * ----------------------------------------------------------- */

// 网站宽度
@width: 1056px;
@body-background: #fff;

// 网站配色
@maincolor: #168BDE;
@secondcolor: #FA9A55;
@highlight: #333;

// 文字颜色
@text-color: #333;
@text-light: #666;
@text-lighter: #999;
@text-grey: #bbb;
@text-dark: #000;

// 链接颜色
@link-color:            #005ca1;
@link-hover-color:      darken(@link-color, 15%);

// 背景和边框
@background: #e7e7e7;
@border-color: #ccc;

// 媒体间距
@padding: 15px;

@padding-md: 8px;