h2.typo-h2 独立盒子

.ui-box
    .ui-box-head
        h3.ui-box-head-title 集团概况
        span.ui-box-head-text 教育第
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”、“郑州广银财务管理咨询有限公司”；下属2个政府行业平台：“机械行业职业技能鉴定河南省实训基地”、“轻工行业职业技能鉴定河南省培训基地”；一所教育学院：“睿芳教育学院”。



h2.typo-h2 和列表结合

.ui-box
    .ui-box-head
        h3.ui-box-head-title 集团概况
        span.ui-box-head-text 教育第
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            ul.ui-list
                li.ui-list-item
                    a(href="#") 如何申请认证?
                li.ui-list-item
                    a(href="#") 如何提现?
                li.ui-list-item
                    a(href="#") 支付宝数字证书有什么作用?
                li.ui-list-item
                    a(href="#") 如何申请认证?


h2.typo-h2 和媒体结合


.pure-g.row
    .pure-u-1-2
        .col
            .ui-box.ui-box-shadow

                .ui-box-cover
                    img(src="http://placehold.it/600x400")

                .ui-box-container
                    .ui-box-content
                        h3 盒子内容的标题
                        p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”

                .ui-box-foot
                    img.img-circle(src="http://placehold.it/24x24" width=24 height=24)
                    span.ui-box-foot-left 集团概况
                    span.ui-box-foot-right 教育第一


    .pure-u-1-2
        .col
            .ui-box.ui-box-shadow

                .ui-box-cover
                    img(src="http://placehold.it/600x400")

                .ui-box-container
                    .ui-box-content
                        h3 盒子内容的标题
                        p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”

                .ui-box-foot
                    img.img-circle(src="http://placehold.it/24x24" width=24 height=24)
                    span.ui-box-foot-left 集团概况
                    span.ui-box-foot-right 教育第一





