.ui-box
    .ui-box-head
        h3.ui-box-head-title 面朝大海 春暖花开
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            p.typo-p 从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海，春暖花开, 从明天起，和每一个亲人通信, 告诉他们我的幸福, 那幸福的闪电告诉我的, 我将告诉每一个人



h2.typo-h2 和列表结合

.ui-box
    .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            .media
                .media-left
                    a(href='#')
                        img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY0YjA4YzNjNCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjRiMDhjM2M0Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true', style='width: 64px; height: 64px;')
                .media-body
                    h4.media-heading 从明天起，做一个幸福的人
                    |         从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海，春暖花开, 从明天起，和每一个亲人通信, 告诉他们我的幸福, 那幸福的闪电告诉我的, 我将告诉每一个人
            ul.ui-list
                li.ui-list-item
                    a(href="#") 祖国，或以梦为马
                li.ui-list-item
                    a(href="#") 明天醒来我会在哪一只鞋子里
                li.ui-list-item
                    a(href="#") 吊半坡并给擅入都市的农民
                li.ui-list-item
                    a(href="#") 七月不远——给青海湖 请熄灭我的爱情

h2.typo-h2 没有边框的盒子

.ui-box.ui-box-noborder
    .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            .media
                .media-left
                    a(href='#')
                        img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY0YjA4YzNjNCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjRiMDhjM2M0Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true', style='width: 64px; height: 64px;')
                .media-body
                    h4.media-heading 从明天起，做一个幸福的人
                    |         从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海，春暖花开, 从明天起，和每一个亲人通信, 告诉他们我的幸福, 那幸福的闪电告诉我的, 我将告诉每一个人
            ul.ui-list
                li.ui-list-item
                    a(href="#") 祖国，或以梦为马
                li.ui-list-item
                    a(href="#") 明天醒来我会在哪一只鞋子里
                li.ui-list-item
                    a(href="#") 吊半坡并给擅入都市的农民
                li.ui-list-item
                    a(href="#") 七月不远——给青海湖 请熄灭我的爱情


h2.typo-h2 和媒体结合

.ui-box
      .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
        a.ui-box-head-more(href='#') 更多
      .ui-box-container
        .ui-box-content
          .medias
              .media
                  .media-left
                      a(href='#')
                          img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY0YjA4YzNjNCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjRiMDhjM2M0Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true', style='width: 64px; height: 64px;')
                  .media-body
                      h4.media-heading 从明天起，做一个幸福的人
                      |         从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海，春暖花开, 从明天起，和每一个亲人通信, 告诉他们我的幸福, 那幸福的闪电告诉我的, 我将告诉每一个人

              .media
                  .media-left
                      a(href='#')
                          img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY0YjA4YzNjNCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjRiMDhjM2M0Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true', style='width: 64px; height: 64px;')
                  .media-body
                      h4.media-heading 从明天起，做一个幸福的人
                      |         从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海，春暖花开, 从明天起，和每一个亲人通信, 告诉他们我的幸福, 那幸福的闪电告诉我的




h2.typo-h2 和媒体与列表结合

.ui-box
    .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            ul.ui-list
                li.ui-list-item
                    a(href="#") 祖国，或以梦为马
                li.ui-list-item
                    a(href="#") 明天醒来我会在哪一只鞋子里
                li.ui-list-item
                    a(href="#") 吊半坡并给擅入都市的农民
                li.ui-list-item
                    a(href="#") 七月不远——给青海湖 请熄灭我的爱情




h2.typo-h2 和媒体结合


.pure-g.row
    .pure-u-1.pure-u-md-1-2
        .col
            .ui-box.ui-box-shadow

                .ui-box-cover
                    img(src="http://placehold.it/420x280")

                .ui-box-container
                    .ui-box-content
                        h3.ui-box-content-title 盒子内容的标题
                        p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”

                .ui-box-foot
                    img.img-circle(src="http://placehold.it/24x24" width=24 height=24)
                    span.ui-box-foot-left 集团概况
                    span.ui-box-foot-right 教育第一


    .pure-u-1.pure-u-md-1-2
        .col
            .ui-box.ui-box-shadow

                .ui-box-cover
                    img(src="http://placehold.it/420x280")

                .ui-box-container
                    .ui-box-content
                        h3.ui-box-content-title 盒子内容的标题
                        p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”

                .ui-box-foot
                    img.img-circle(src="http://placehold.it/24x24" width=24 height=24)
                    span.ui-box-foot-left 集团概况
                    span.ui-box-foot-right 教育第一



