a.pure-button(href='#') 默认按钮
button.pure-button 默认按钮

h2.typo-h2 已禁用按钮

a.pure-button.pure-button-disabled(href='#') 不能点
button.pure-button.pure-button-disabled 不能点

h2.typo-h2 激活状态

a.pure-button.pure-button-active(href='#') 激活状态
button.pure-button.pure-button-active 激活状态

h2.typo-h2 不同颜色

a.pure-button.pure-button-primary(href='#') 主要按钮
button.pure-button.pure-button-primary 主要按钮
button.button-success.pure-button 成功按钮
button.button-error.pure-button 错误按钮
button.button-warning.pure-button 警告按钮
button.button-secondary.pure-button 次要按钮