.pure-g.row
    .pure-u-1-3
        .col
            .card
                .card-image
                    img.img-responsive(src='http://placehold.it/366x229')
                .card-header
                    h4.card-title 春暖花开
                    h6.card-meta 从明天起
                .card-body
                    |从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海
                .card-footer
                    a.pure-button.button-primary(href='#') Do
    .pure-u-1-3
        .col
            .card
                .card-header
                    h4.card-title 日记
                    h6.card-meta 今夜
                .card-image
                    img.img-responsive(src='http://placehold.it/366x229')
                .card-body
                    | 姐姐，今夜我在德令哈，夜色笼罩, 姐姐，我今夜只有戈壁, 草原尽头我两手空空
                .card-footer
                    .pure-button-group.pure-button-group-block
                        button.pure-button.button-primary Buy
                        button.pure-button Buy
                        button.pure-button Buy
    .pure-u-1-3
        .col
            .card
                .card-header
                    h4.card-title 蓝莲花
                    h6.card-meta 许巍
                .card-body
                    | 没有什么能够阻挡, 你对自由地向往, 天马行空的生涯, 你的心了无牵挂, 穿过幽暗地岁月, 也曾感到彷徨, 当你低头地瞬间, 才发觉脚下的路,心中那自由地世界, 如此的清澈高远
                .card-image
                    img.img-responsive(src='http://placehold.it/366x229')
