ul.menu
    li.dropit-trigger
        a(href='#') 关于我们
        ul.list.dropit-submenu
          li.active
            a(href='#') 关于我们
          li
            a(href='#') 公司荣誉
          li
            a(href='#') 组织架构
          li
            a(href='#') 发展历程
          li
            a(href='#') 人才招聘
