// Single button
.pure-button-group
    button.pure-button.button-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | 点击显示下拉菜单
        span.caret
    ul.dropdown-menu
        li
            a(href='#') Action
        li
            a(href='#') Another action
        li
            a(href='#') Something else here
        li.divider(role='separator')
        li
            a(href='#') Separated link
