
h2.typo-h2 菜单列表

ul.list
      li.active
        a(href='#') 关于我们
      li
        a(href='#') 公司荣誉
      li
        a(href='#') 组织架构
      li
        a(href='#') 发展历程
      li
        a(href='#') 人才招聘


h2.typo-h2 菜单列表-圆角

ul.list.list-round
      li.active
        a(href='#') 关于我们
      li
        a(href='#') 公司荣誉
      li
        a(href='#') 组织架构
      li
        a(href='#') 发展历程
      li
        a(href='#') 人才招聘



h2.typo-h2 链接列表

ul.ui-list
    li
        a(href="#") 如何申请认证？

    li
        a(href="#") 如何提现？

    li
        a(href="#") 支付宝数字证书有什么作用？

    li
        a(href="#") 如何申请认证？


h2.typo-h2 灰色链接

ul.ui-list.ui-list-graylink
    li
        a(href="#") 如何申请认证？

    li
        a(href="#") 如何提现？

    li
        a(href="#") 支付宝数字证书有什么作用？

    li
        a(href="#") 如何申请认证？


h2.typo-h2 方块列表

ul.ui-list.ui-list-nosquare
    li
        a(href="#") 如何申请认证？

    li
        a(href="#") 如何提现？

    li
        a(href="#") 支付宝数字证书有什么作用？

    li
        a(href="#") 如何申请认证？



h2.typo-h2 中间对齐

dl.ui-dlist
    dt 姓名：
    dd 吴鹏飞

dl.ui-dlist
    dt 实名认证：
    dd 已认证 
        a(href="#") 查看

dl.ui-dlist
    dt 手机号码：
    dd 18588182213

dl.ui-dlist
    dt Email邮箱：
    dd mail.easy@hotmail.com

dl.ui-dlist
    dt 淘宝绑定账户：
    dd 皮蛋狂吃瘦肉粥