.media
    a.media-cap(href="#")
        img(src="http://placehold.it/64x64")
    .media-body
        .media-body-title
            strong 河南睿芳教育科技集团
        p.typo-small 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司

.media
    a.media-cap(href="#")
        img(src="http://placehold.it/64x64")
    .media-body
        .media-body-title
            strong
                a(href="#") 河南睿芳教育科技集团
        p.typo-small 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司


.media
    a.media-cap(href="#")
        img(src="http://placehold.it/64x64")
    .media-body
        .media-body-title
            strong 河南睿芳教育科技集团
        p.typo-small 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司