a(href='#ex1', rel='modal:open') 打开弹窗
    #ex1.modal.hide(style='display: none')
        h4.modal-title 本操作需要您先注册成为WordPress智库的会员
        a.close(href='#', rel='modal:close') ×
        .modal-content
            | 注册成为WordPress智库的会员后，可以享受更多便利，阅读更多文档。
